@font-face {
  font-family: 'fine_fraktur_B';
  src: url("fine_fraktur_B.ttf") format('truetype'); 
  /* Add other font formats as needed */
}
/* Link to Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

body {
  font-family: 'Neuton', serif;
}
  h1 {
  font-family: 'fine_fraktur_B' !important; /* Removed !important */
}




